<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitei</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">
    <link rel="manifest" href="/assets/site.webmanifest">
    <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>

<body>
    <section class="hero is-primary">
        <div class="hero-body">
            <div style="display: flex;">
                <div style="flex-basis: 70px;">
                    <img src="/assets/pdf.svg" height="64" width="64">
                </div>
                <div style="flex-grow: 1;">
                    <h1 class="title"> Kitei </h1>
                    <h2 class="subtitle"> Cloud PDF compressor </h2>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-three-fifths-tablet is-half-desktop">
                    <div class="card">
                        <header class="card-header">
                            <p id="msg-box" class="card-header-title has-background-warning">Hello there!</p>
                        </header>
                        <div class="card-content">
                            <div class="level">
                                <progress id="loader" class="progress is-small is-primary is-hidden"
                                    max="100"></progress>
                            </div>
                            <div class="content">
                                <div class="field">
                                    <label class="label">URL:</label>
                                    <div class="control">
                                        <textarea class="textarea" rows="2" id="url"
                                            placeholder="http://example.com/zym.pdf"></textarea>
                                    </div>
                                </div>
                                <label class="label">Quality</label>
                                <div class="select">
                                    <select id="dpi">
                                        <option value="150">High</option>
                                        <option selected value="130">Medium</option>
                                        <option value="100">Low</option>
                                    </select>
                                </div>
                            </div>
                            <div class="column has-text-right">
                                <button id="send" class="button is-rounded is-primary is-light">Compress</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        let sendBtn = document.getElementById("send");

        sendBtn.addEventListener('click', (e) => {

            let data = aggregateData();
            if (!data.url) {
                return;
            }

            e.target.disabled = true;

            const options = {
                method: 'POST',
                body: JSON.stringify(data),
                headers: {
                    'Content-Type': 'application/json'
                }
            }

            fetch("/pdf", options)
                .then(res => {
                    e.target.disabled = false;
                    return res.json();
                }).then(data => {
                    console.log(data);
                    let { id, status } = data;
                    if (status == 'created' && id)
                        window.location.href = '/pdf?id=' + id;
                    // add a popup on else
                }).catch(err => {
                    e.target.disabled = false;
                    console.log(err);
                });
        })

        function aggregateData() {
            let data = {
                url: document.getElementById("url").value,
                dpi: document.getElementById("dpi").value
            }
            return data;
        };
    </script>
</body>

</html>